description "openconnect vpn client daemon"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 5 120

{% if dnsupdate == false %}
env DNS_UPDATE=no
export DNS_UPDATE
{% endif %}

exec cat /etc/openconnect/network.passwd | openconnect \
  {{ vpn_url }} \
  --syslog \
  --no-dtls \
  --script /etc/vpnc/vpnc-script \
  --user {{ vpn_user }} \
  --authgroup {{ vpn_group }}

